@page
@model suprav21776.Pages.PassingDataModel
@{
}

<div class="text-center">
    <h1 class="display-4">Passing Data using ViewData</h1>
    <p>Message :- @ViewData["message"].</p>

    <h1 class="display-4">Passing Data using TempData</h1>
    <p>Message :- @TempData["message"].</p>
</div>
